* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #cad;
}

.header {
  height: 70px;
  width: 1440px;
  background-color: #cad;
  border-bottom: 1px solid #545454;
}

.title {
  color: #ffffff;
  float: left;
  height: 70px;
  width: 300px;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 0px;
}

.logout {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

.main {
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  height: 91.5vh;
  width: 300px;
  background-color: rgb(175, 136, 194);
}

.task {
  color: #ffffff;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.title-detail-delete {
  width: 1170px;
  height: auto;
  background-color: #cad;
  display: flex;
}

.span-title {
  color: white;
  font-size: 20px;
  width: 500px;
  padding: 5px;
  border-top: solid 1px;
  border-right: solid 1px;
  border-left: solid 1px;
  border-bottom: solid 1px;
}

.span-detail {
  color: white;
  font-size: 20px;
  padding: 5px 625px 5px 5px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.title-add {
  outline: none;
  border-top: none;
  border-right:  solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background: transparent;
  color: white;
  width: 230px;
  margin-bottom: 30px;
  padding: 3px;
}

.title-add:focus {
  border-right:  solid 1px rgb(181, 0, 0);
  border-left: solid 1px rgb(181, 0, 0);
  border-bottom: solid 1px rgb(181, 0, 0);
}

::placeholder {
  color: white;
}

.detail-add {
  outline: none;
  border: none;
  border-right:  solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background: transparent;
  color: white;
  width: 230px;
  margin-bottom: 30px;
  padding: 3px;
}

.detail-add:focus {
  border-right:  solid 1px rgb(181, 0, 0);
  border-left: solid 1px rgb(181, 0, 0);
  border-bottom: solid 1px rgb(181, 0, 0);
}

.category-add {
  color: white;
  background: transparent;
  width: 230px;
  text-overflow: ellipsis;
  border: none;
  border-bottom: solid 1px black;
  margin-bottom: 30px;
  cursor: pointer;
  padding: 3px;
}

.category-add:focus {
  border-bottom: solid 1px rgb(181, 0, 0);
}

.category-add:focus {
  outline: none;
}

.category-delete {
  padding: 2px 8px 2px 8px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.category-delete:focus {
  outline: none;
}

.category-delete:hover {
  background-color: rgba(250, 250, 250, 0.211);
  border-radius: 100px;
}

.tasks {
  margin-left: 20px;
}

#todo {
  color: #ffffff;
  background-color: rgb(184, 152, 200);
  height: auto;
  width: 1170px;
  display: flex;
  padding: 0px;
}

.task-edit {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-radius: 100px;
  padding: 2px 5px 6px 5px;
}

.task-edit:focus {
  outline: none;
}

.task-edit:hover {
  background-color: #ffffff2f;
}

.edit {
  padding: 5px;
  border: none;
  border-bottom: solid 1px white;
}

.task-delete {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-radius: 100px;
  padding: 2px 5px 6px 5px;
}

.task-delete:focus {
  outline: none;
}

.task-delete:hover {
  background-color: #ffffff2f;
}

.dialog-edit {
  border: none;
  height: 500px;
  width: 700px;
  margin-left: 400px;
  margin-top: 100px;
  padding: 70px 0px 0px 160px;
  border-radius: 20px;
  box-shadow:0 10px 25px 0 rgba(0, 0, 0, .5);
  background-color: #be8fd9;
}

.h1-edit {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.title-edit {
  width: 360px;
  margin-bottom: 40px;
  outline: none;
  border-top: none;
  border-right:  solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background: transparent;
  color: black;
  padding: 3px;
  color: white;
}

.title-edit:focus {
  border-right:  solid 1px rgb(181, 0, 0);
  border-left: solid 1px rgb(181, 0, 0);
  border-bottom: solid 1px rgb(181, 0, 0);
}

.detail-edit {
  width: 360px;
  margin-bottom: 40px;
  outline: none;
  border-top: none;
  border-right:  solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background: transparent;
  color: black;
  padding: 3px;
  color: white;
}

.detail-edit:focus {
  border-right:  solid 1px rgb(181, 0, 0);
  border-left: solid 1px rgb(181, 0, 0);
  border-bottom: solid 1px rgb(181, 0, 0);
}


.category-edit {
  color: white;
  background: transparent;
  width: 360px;
  text-overflow: ellipsis;
  border: none;
  border-bottom: solid 1px black;
  margin-bottom: 40px;
  cursor: pointer;
  padding: 3px;
}

.category-edit:focus {
  border-bottom: solid 1px rgb(181, 0, 0);
  outline: none;
}

.delete {
  padding: 5px;
  border-bottom: solid 1px white;
}

.scroll {
  overflow: scroll;
  height: 640px;
  width: 1170px;
  z-index: 2;
}

.todo-title {
  margin-bottom: 0px;
  width: 500px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-left:  solid 1px;
  padding: 10px;
}

.todo-detail {
  margin-bottom: 0px;
  padding: 10px;
  width: 590px;
  border-bottom: solid 1px;
  text-overflow: ellipsis;
}

a {
  color: #ffffff;
}

.form {
  padding-top: 30px;
  margin-left: 8px;
}

#plus {
  height: 30px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  border: none;
  background: transparent;
  border-radius: 100px;
  outline: none;
}

#plus:hover {
  background-color: #ffffff70;
  border-radius: 100px;
}

.tab {
  color: #ffffff;
  background: transparent;
  height: 30px;
  width: 114px;
  text-align: center;
  margin-bottom: 0px;
  border-right: solid 1px;
  padding: 4px;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab:focus {
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.header2 {
  display: flex;
}

.header3 {
  background-color: rgba(149, 105, 175, 0.573);
  display: flex;
}

.header3:hover {
  background-color: rgba(0, 0, 0, 0.256);
}

#plus-form {
  color: #FFFFFF;
  margin-top: -700px;
  margin-left: 300px;
  padding: 20px;
  z-index: 3;
  position: relative;
  height: 120px;
  width: 200px;
  border-radius: 20px;
  box-shadow:0 10px 25px 0 rgba(0, 0, 0, .5);
  background-color: #b068dae1;
  box-sizing: content-box;
}

.hidden {
  display: none;
}

.plus-form-input {
  margin-bottom: 10px;
  outline: none;
  border-top: none;
  border-right:  solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background: transparent;
  color: white;
  width: 200px;
  padding: 3px;
}

.plus-form-input:focus {
  outline: none;
}

.plus-form-bottun {
  margin-top: 10px;
  border: none;
  outline: none;
}

.plus-form-button:focus {
  outline: none;
}